@font-face {
  font-family: gorditaMedium;
  src: url('fonts/Gordita Medium.otf') format('opentype');
}
@font-face {
  font-family: gorditaRegular;
  src: url('fonts/Gordita Regular.otf') format('opentype');
}
@font-face {
  font-family: gorditaThin;
  src: url('fonts/Gordita Thin.otf') format('opentype');
}
@font-face {
  font-family: gorditaLight;
  src: url('fonts/Gordita Light.otf') format('opentype');
}